**/.DS_Store
__pycache__/
*.json
**/experiment100/experiment_100/
**/experiment100/parsed_dictionaries/
**/experiment100/statistics/
**/experiment12/experiment_12/k_200/k200/
**/experiment12/experiment_12/k_400/k400/
**/experiment12/experiment_12/k_600/k600/
**/experiment12/experiment_12/k_800/k800/
**/experiment12/experiment_12/k_200/k200/parsed_dictionaries/
**/experiment12/experiment_12/k_400/k400/parsed_dictionaries/
**/experiment12/experiment_12/k_600/k600/parsed_dictionaries/
**/experiment12/experiment_12/k_800/k800/parsed_dictionaries/
**/experiment12/experiment_12/k_400/k400/statistics/
**/experiment12/experiment_12/k_600/k600/statistics/
**/experiment12/experiment_12/k_800/k800/statistics/
**/experiment12/experiment_12.zip
**/experiment6/experiment_6/
**/experiment6/parsed_dictionaries/
**/experiment6/statistics/
**/experiment6/experiment_6.zip
**/experiment7/experiment_7/
**/experiment7/parsed_dictionaries/
**/experiment7/statistics/
**/old_data/
**/TestFiles/
**/Test_remove_from_online/
