**/.DS_Store
__pycache__/
*.json

**/experiment100/experiment_100/
**/experiment100/parsed_dictionaries/
**/experiment100/statistics/
**/experiment12/experiment_12/k_200/k200/
**/experiment12/experiment_12/k_400/k400/
**/experiment12/experiment_12/k_600/k600/
**/experiment12/experiment_12/k_800/k800/
**/experiment12/experiment_12/k_200/parsed_dictionaries/
**/experiment12/experiment_12/k_400/parsed_dictionaries/
**/experiment12/experiment_12/k_600/parsed_dictionaries/
**/experiment12/experiment_12/k_800/parsed_dictionaries/
**/experiment12/experiment_12/k_400/statistics/
**/experiment12/experiment_12/k_600/statistics/
**/experiment12/experiment_12/k_800/statistics/
**/experiment12/experiment_12.zip
**/experiment6/experiment_6/
**/experiment6/parsed_dictionaries/
**/experiment6/statistics/
**/experiment6/experiment_6.zip
**/experiment7/experiment_7/
**/experiment7/parsed_dictionaries/
**/experiment7/statistics/
**/experiment8/experiment_8/
**/experiment8/parsed_dictionaries/
**/experiment8/statistics/
**/experiment9/experiment_9/
**/experiment9/parsed_dictionaries/
**/experiment9/statistics/
**/k800/
**/k400/
**/k600/
**/old_data/
**/TestFiles/
**/Test_remove_from_online/
**/Underlying_Graph/
**/OLDRESULTS/
**/experiment6_OLD/